@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.read-article {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', sans-serif;
}

.articles-page .article-tags {
    clear: both;
    display: block;
}

.articles-page h1 {
    font-size: 24px;
}

.article-tags_border {
    margin: 0 5px;
    width: 0;
    border-left: 1px solid;
}