@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.connection-page {
    font-family: 'Times New Roman', sans-serif;
}

.connection-page .row-fluid {
    margin: 0;
}

.connection-terms {
    padding-right: 30px;
}

.connection-terms ol {
    margin-bottom: 30px;
}

.connection-terms label {
    margin-bottom: 20px;
}

.connection-terms li {
    margin: 0 0 10px 25px;
    list-style: decimal;
    font-size: 18px;
    color: #444342;
    line-height: 1.2;
}