@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.deliveryInRhythm-page .span8 {
    padding-right: 30px;
}

article h1 {
    margin-bottom: 10px;
}

.article-info, .article-tags {
    color: #747372;
    font-size: 12px;
    margin-bottom: 20px;
}

.article-tags {
    margin-top: 40px;
}

.article-image {
    border: 4px solid #ff4b12;
    border-radius: 50px;
    margin: 50px 30px 50px 0;
    float: left;
}

article p, .speach {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    color: #444342;
    line-height: 1.3;
}

article p {
    margin-bottom: 20px;
}

.speach {
    font-style: italic;
    border: 0;
    padding-left: 25px;
}

.article-previous, .article-next {
    width: 40%;
    display: block;
    font-style: italic;
    margin-bottom: 30px;
}

.article-previous {
    float: left;
}

.article-next {
    float: right;
    text-align: right;
}

.menu-blog-sections {
    display: block;
    float: none;
    clear: both;
}

.menu-blog-sections__title {
    font-family: 'Times New Roman', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.new-posts, .records, .rubrics, .meta {
    margin-bottom: 20px;
}

.new-posts li, .records li, .rubrics li, .meta li {
    padding-left: 10px;
    margin-bottom: 5px;
}

.new-posts li a, .records li a, .rubrics li a, .meta li a {
    color: #444342;
}