@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.franchising-page ul {
    padding-right: 20px;
}

.franchising-page li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #444342;
    line-height: 1.2;
}

.franchising-page {
    font-family: 'Times New Roman', sans-serif;
}

.franchising-page .row-fluid {
    margin: 0;
}

.we-provide label {
    margin-bottom: 20px;
}

.we-provide li {
    list-style: circle;
}

.we-provide li {
    margin-left: 20px;
}
