@import "_base";
@import "main";

/* ------------------------------------------------------ articles-page/delivery-in-rhythm-page START --------------------------------------------------- */

.come-in-banner {
    position: absolute;
    background: url('../img/tmp/comeIn.png') no-repeat 0 0;
    width: 120px;
    height: 235px;
    right: 19%;
    top: -45px;
}

.top-info {
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto 20px;
}

.border-line {
    height: 0;
    border-bottom: 1px solid;
}

.top-info span {
    padding-bottom: 3px;
}

.top-info__phone {
    font-size: 18px;
    font-weight: bold;
}

.deliveryInRhythm-page, .articles-page {
    padding-top: 30px;
}

.deliveryInRhythm-page .span8, .articles-page .span8 {
    padding-right: 30px;
}

article {
    margin-bottom: 30px;
}

article h1 {
    margin-bottom: 10px;
}

.article-info, .article-tags {
    color: #747372;
    font-size: 12px;
    margin-bottom: 20px;
}

.article-tags {
    margin-top: 40px;
}

.article-image {
    margin: 50px 30px 50px 0;
    float: left;
}

article p, .speach {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    color: #444342;
    line-height: 1.3;
}

article p {
    margin-bottom: 20px;
}

.speach {
    font-style: italic;
    border: 0;
    padding-left: 25px;
}

.article-previous, .article-next {
    width: 40%;
    display: block;
    font-style: italic;
    margin-bottom: 30px;
}

.article-previous {
    float: left;
}

.article-next {
    float: right;
    text-align: right;
}

.menu-blog-sections {
    display: block;
    float: none;
    clear: both;
}

.menu-blog-sections__title {
    font-family: 'Times New Roman', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.new-posts, .records, .rubrics, .meta {
    margin-bottom: 20px;
}

.new-posts li, .records li, .rubrics li, .meta li {
    padding-left: 10px;
    margin-bottom: 5px;
}

.new-posts li a, .records li a, .rubrics li a, .meta li a {
    color: #444342;
}