@import "_base";
@import "main";

/* ------------------------------------------------------ MAKINGORDER PAGE START --------------------------------------------------- */

.making-order__title {
    font-size: 0;
}

.making-order__title h1, .making-order__title a {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: -100%;
    
    @include respond-to(medium-screen) {
        display: block;
      }
    @include respond-to(small-screen) {
        display: block;
      }
}

.making-order__title a {
    text-align: right;
    
    @include respond-to(medium-screen) {
        text-align: left;
      }
    @include respond-to(small-screen) {
        text-align: left;
      }
}

.back-to-menu_font {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
}

.making-order__image img {
    width: 100%;
    margin-top: 10px;
}

.making-order__image img:first-child {
    margin-top: 0;
}

.delivery-details__address span {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
}

.delivery-details__contact__form input, 
.delivery-details__contact__form textarea {
    border-radius: 0;
}

.required {
    color: #F4521A;
}

label {
    color: #4A3E33;
}

.caption {
    position: relative;
    top: -10px;
    color: #7B6350;
}

.extra-info {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
}

.button {
    padding: 4px 24px 7px;
    font-size: 20px;
}