@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.order-number {
    font-size: 36px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
}