@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.restaurant-name {
    margin-top: 0;
}

.restaurant-page__image img {
    border-radius: 10px;
    width: 100%;
}

.restaurant-page__delivery .button {
    border-radius: 5px;
    width: 100%;
    padding: 7px 0;
    margin-bottom: 15px;
}

.delivery__address_requared {
    color: #F4521A
}

.action-link {
    color: #795337;
    font-size: 11px;
}