@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.restaurant-name {
    margin-top: 0;
}

.restaurant-page__image img {
    border-radius: 10px;
    width: 100%;
}

.restaurant-page__delivery-info, .restaurant-page__restaurant-info {
    border-bottom: 1px dotted #8f7763;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.restaurant-page__delivery span, .restaurant-page__delivery a {
    color: #8f7763;
}

.restaurant-page__delivery .button {
    border-radius: 5px;
    width: 100%;
    padding: 7px 0;
    margin-bottom: 15px;
    color: white;
}

.delivery__address {
    margin-bottom: 10px;
}

.requared, span.requared {
    color: #F4521A
}

.action-link {
    color: #795337;
    font-size: 11px;
}

.restaurant-page__delivery {
    @include respond-to(medium-screen) {
        padding-bottom: 70px;
    }
}

.restaurant-page__delivery__share img, .restaurant-page__delivery__share span {
    margin-right: 5px;
}

.restaurant-page__delivery__share span {
    vertical-align: middle;
}

.restaurant-menu {
    position: relative;
}

.menu-title {
    position: absolute;
    top: -70px;
}

.button_light-brown {
    padding: 1px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.column-list_list li {
    margin-bottom: 5px;
}

.column-list_list li a {
    text-decoration: none;
    border-bottom: 1px dotted $brownlighter;
}

.digest-section__your-order {
    border-top: 4px solid #000000;
    padding-top: 0;
}

.button_red {
    padding: 4px 15px 7px;
    font-size: 20px;
    margin-bottom: 30px;
}

.digest-section__review {
    margin-left: 30px;
    border-top: 2px dotted #8F7763;
}

.leave-review {
    margin-bottom: 30px;
}

textarea {
    margin-bottom: 5px;
    border-radius: 0;
}

.restaurant-stars {
    margin-left: 5px;
}

.restaurant-stars span {
    cursor: pointer;
}

.button_brown {
    padding: 1px 10px;
    border-radius: 5px;
}

.read-review h2 {
    margin-bottom: 30px;
}

.read-review__text {
    color: #8f7763;
}