@import "_base";
@import "main";

/* ------------------------------------------------------ RESTAURANT PAGE START --------------------------------------------------- */

.address-request {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}